# Build and temporary files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Password-Manager secrets key and Encrypted password files
password.txt
secret.key
*.key
*.txt

# IDE Files
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Environment files
.env
*.env
